<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompareNETObjects" version="3.02.0.0" targetFramework="net461" />
  <package id="FubarDev.NDbUnit.Core" version="1.6.9.11" targetFramework="net461" />
  <package id="FubarDev.NDbUnit.SqlServerCe" version="1.6.9.11" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net461" />
  <package id="NDbUnit.Core" version="1.6.8.0" targetFramework="net461" />
  <package id="Npgsql" version="3.2.5" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="Tools4Libraries" version="1.0.21" targetFramework="net461" />
</packages>