<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompareNETObjects" version="3.02.0.0" targetFramework="net45" requireReinstallation="true" />
  <package id="FubarDev.NDbUnit.Core" version="1.6.9.11" targetFramework="net45" />
  <package id="FubarDev.NDbUnit.SqlServerCe" version="1.6.9.11" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="NDbUnit.Core" version="1.6.8.0" targetFramework="net45" />
  <package id="Tools4Libraries" version="1.0.10" targetFramework="net45" />
</packages>